<section class="request-pray grit">
  <div class="container">
    <div class="inner-container">
      <div class="inner-content">
        <h2 class="section-title">
          <span>Ми будемо раді молитись за вас</span>
        </h2>
        <p class="description">
          Якщо у вас виникли якісь запитання
          або молитовне прохання ми будемо раді вам допомогти,
          заповніть невеличку форму і ми будемо знати як до вас
          звязатись або молитись за вас
        </p>
        <app-login-form></app-login-form>
        <div class="location">
          <iframe class="map"
            src="https://maps.google.com/maps?q=%D0%B2%D0%B0%D1%80%D1%88%D0%B0%D0%B2%D1%81%D1%8C%D0%BA%D0%B0%2035&t=&z=17&ie=UTF8&iwloc=&output=embed">
          </iframe>
          <div class="location-info">
            <p class="location-info-time">Служіння - Щонеділі 15:00</p>
            <p class="location-info-place">м. Львів, вул. Варшавська 35</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>