<p>{{varDate}}</p>
<p>{{varDate | date}}</p>
<p>{{varDate | date: 'fullDate'}}</p>
<p>{{varDate | date: 'shortDate'}}</p>
<p>{{varDate | date: 'shortTime'}}</p>
<hr>
<p>{{varString}}</p>
<p>{{varString | lowercase}}</p>
<p>{{varString | uppercase}}</p>
<p>{{varString | slice: 0:4}}</p>
<p>{{varString | slice: 6:13 | uppercase}}</p>
<hr>
<p>{{pi}}</p>
<p>{{pi | number}}</p>
<p>{{pi | number: '1.1-2'}}</p>
<p>{{pi | number: '2.3-4'}}</p>
<hr>
<p>{{myNumber | currency: 'USD'}}</p>
<p>{{myNumber | currency: 'EUR'}}</p>
<hr>
<p>{{object}}</p>
<p>{{object | json}}</p>
<pre>{{object | json}}</pre>








